/*prevent navbar overlapping with content*/
body { padding-top: 70px; padding-bottom: 70px;}

.navbar strong {color: red;}

.navbar-brand img {width: 33px; height: 33px;}

.nav-target div {padding-top: 50px;}

#aboutFix {
	display: none;
}
#normalizerOptions {
	display: none;
}
.errorMsg {
	color: red;
}
#validations ul {
	display: none;
	list-style: decimal;
}
.vOwl {
	list-style: inside;
}
