/*prevent navbar overlapping with content*/
body { padding-top: 60px; padding-bottom: 90px;}

.navbar strong {color: red;}

.navbar-brand img {width: 33px; height: 33px;}

.nav-target div {padding-top: 50px;}

.errorMsg {
	color: red;
}

.badge-error {background-color: #CC0033; color: black;}
.ERROR {background-color: #CC0033; color: black;}
.WARNING {background-color: #FFCC33; color: black;}
